.app-input {
  border-radius: 25px;
  border: 1px var(--color-white) solid;
  & > input {
    width: 100%;
    border: 0 none;
    padding: var(--size-space16);
    display: block;
    background: none;
    color: white;
    outline-color: transparent;
    outline-style: none;
    font-size: var(--size-text-font-size);
    text-align: center;
    &::placeholder {
      color: white;
      opacity: 0.6;
    }
  }
}
