* {
  font-size: var(--size-font-size);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

button {
  font-size: var(--size-button-font-size);
}

h1 {
  font-size: var(--size-title-font-size);
  text-transform: uppercase;
  font-family: "gotham";
  line-height: 6rem;
}
h2 {
  font-size: var(--size-sub-title-font-size);
}
h3 {
  font-size: var(--size-section-title-font-size);
}
h4 {
  font-size: var(--size-section-sub-title-font-size);
}
p {
  font-size: var(--size-text-font-size);
}
small {
  font-size: var(--size-small-font-size);
}

h1,
h2,
h3,
h4,
p,
small {
  &.dark {
    background-color: transparent !important;
    color: var(--color-black) !important;
  }
  &.white {
    background-color: transparent !important;
    color: var(--color-white) !important;
  }
}
