@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

@font-face {
  font-family: "lufga";
  src: url("../fonts/lufga-semibold.eot");
  src: url("../fonts/lufga-semibold.eot") format("embedded-opentype"),
    url("../fonts/lufga-semibold.woff2") format("woff2"),
    url("../fonts/lufga-semibold.woff") format("woff"),
    url("../fonts/lufga-semibold.ttf") format("truetype"),
    url("../fonts/lufga-semibold.svg#lufga-semibold") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "cooperhewitt";
  src: url("../fonts/cooperhewitt-light.woff2") format("woff2"),
    url("../fonts/cooperhewitt-light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "gotham";
  src: url("../fonts/gotham-thin.woff2") format("woff2"),
    url("../fonts/gotham-thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "metrisch-book";
  src: url("../fonts/metrisch-book.woff2") format("woff2"),
    url("../fonts/metrisch-book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "metrisch-bold";
  src: url("../fonts/metrisch-bold.woff2") format("woff2"),
    url("../fonts/metrisch-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
