:root {
  --color-red: #eb196d;
  --color-gold: #bfab77;
  --color-dark-gold: #707070;
  --color-grey: #717372;
  --color-dark-grey: #444444;
  --color-black: #232121;
  --color-white: #ffffff;

  --size-font-size: 12px; //35px
  --size-button-font-size: 1.98rem;
  --size-title-font-size: 6.17rem;
  --size-sub-title-font-size: 6.17rem;
  --size-section-title-font-size: 3.85rem;
  --size-section-sub-title-font-size: 2.34rem;
  --size-text-font-size: 1rem;
  --size-small-font-size: 0.8rem;

  --size-space: 32px;
  --size-space-double: 64px;
  --size-space24: 24px;
  --size-space16: 16px;

  --size-icom-medium: 50px;
  --size-icom-small: 40px;
}
