.app-splash {
  position: relative;
  .logo {
    max-width: 80%;
  }
  .buble {
    position: absolute;
    left: 15%;
    top: 50%;
    max-width: 40%;
  }
  background-image: radial-gradient(
    circle,
    #4d4848,
    #3a3737,
    #292627,
    #181717,
    #000000
  );
}
