.app-side-menu {
  position: fixed;
  z-index: 999;
  transition: all 0.7s ease-in-out;
  width: 100vw;
  height: 100vh;
  left: 100vw;
  opacity: 0;
  pointer-events: none;
  &.open {
    left: 0;
    opacity: 1;
    pointer-events: all;
  }
  &.theme {
    &--dark {
      background-color: var(--color-black);
    }
    &--light {
      background-color: var(--color-grey);
    }
  }
  .header {
    flex-direction: column;
    align-items: center;
    width: 100%;
    .actions {
      width: 100%;
      justify-content: flex-end;
    }
  }
  .content-area {
    justify-content: center;
  }
  .menuLogo {
    width: 70%;
    img {
      width: 100%;
    }
  }
  .list-links {
    margin: var(--size-space) 0;
    flex-direction: column;
    width: 100%;
    flex: 1;
    .app-button {
      margin-bottom: var(--size-space16);
    }
  }
}
